
@{
	<script type="text/javascript" src="~/js/site.js" defer></script>
	<div><h1>Complete Appointment with "@Model.Name"</h1></div>
	<form>
		<div class="mb-3">
			<label for="text" class="form-label">patient name:</label>
			<input type="text" class="form-control" id="name" aria-describedby="text" required>
		</div>
		<div class="mb-3">
			<label for="date" class="form-label">Appointment date:</label>
			<input type="date" class="form-control" id="date" required>
		</div>
		<div class="mb-3">
			<label for="time" class="form-label">Appointment time:</label>
			<input type="time" class="form-control" id="time" required>
		</div>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div style="position:absolute; top: 0; left: 0; width: 100%; height: 100%; background: #1e121287;"></div>
			<div class="modal-dialog" style="margin-top: 80px">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Appointment Complete</h1>
						<button type="button" class="btn-close" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Your appointment has been successfully completed. Thank you!</p>
						</div>
					</div>
			</div>
		</div>
		<button type="submit" action="" class="btn btn-primary" id="button_form" required>Complete Appointment</button>
	</form>

	
}
